#calculator-wrapper {
 background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:5px;
    box-shadow: inset 4px 4px 4px #1f7a29;
    margin: 100px;
    padding: 150px 150px;
}
ul [#equal-button] {
background: red;

}
